.galleria{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

    margin: 25px 0;
}

.img_mini{
    width: 100px;
    height: 100px;

    margin-bottom: 20px;
    display: inline-block;
}

.img_principal{
    width: 300px;
    height: 300px;
}

.mini{
    display: inline-block;
}

.descripcion{
    width: 300px;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
    font-weight: 300;
    
    text-align: center;
}

 h3, h6{
    font-weight: 500;
}